{% extends 'layout.twig' %}

{% block main %}
  <div class="product-inner nr1">
    <div class="productdetail-images">
      <input type="radio" name="AorB" id="A" checked="checked">
      <input type="radio" name="AorB" id="B">
      <label for="A"><</label>
      <label for="B">></label>
      <img src="{{ chocolate.imageA }}" class="A">
      <img src="{{ chocolate.imageB }}" class="B">
    </div>
    <div class="productdetail-details">
      <h2>Inhalte:</h2>
      <p>{{ chocolate.info }}</p>
      <div class="productdetail-ingredients">
        <div class="category-icon {{ categories[0].className }}"></div>
        <div class="category-icon {{ categories[1].className }}"></div>
        <div class="category-icon {{ categories[2].className }}"></div>
        <div class="category-icon {{ categories[3].className }}"></div>
        <div class="category-icon {{ categories[4].className }}"></div>
      </div>
      <h2>Preis:</h2>
      <h3>{{ chocolate.price }} €</h3>
      <a href="#">In den Warenkorb legen</a>
    </div>
  </div>
{% endblock %}