{% extends 'layout.twig' %}

{% block main %}
    <div class="product-inner nr1">
        <div class="productdetail-images">
            <input type="radio" name="AorB" id="A" checked="checked">
            <input type="radio" name="AorB" id="B">
            <label for="A"></label>
            <label for="B"></label>
            <img src="{{ chocolate.imageA }}" class="A">
            <img src="{{ chocolate.imageB }}" class="B">
        </div>
        <div class="productdetail-details">
            <h2>Inhalte:</h2>
            <p>{{ chocolate.info }}</p>
            <div class="productdetail-ingredients">
                <div class="category-icon {{ chocolate.shape.className }}"></div>
                <div class="category-icon {{ chocolate.variety.className }}"></div>
                <div class="category-icon {{ chocolate.cream.className|default('cream-0') }}"></div>
                <div class="category-icon {{ chocolate.stuffing.className|default('stuffing-0') }}"></div>
                <div class="category-icon {{ chocolate.topping.className|default('topping-0') }}"></div>
            </div>
            <h2>Preis:</h2>
            <h3>{{ chocolate.price|number_format(2) }} €</h3>
            <form method="post" action="/shopping-cart">
                <input type="hidden" name="chocolateId" value="{{ chocolate._id }}">
                <button class="buy-button">In den Warenkorb legen</button>
            </form>
        </div>
    </div>
{% endblock %}