{% extends 'layout.twig' %}

{% block main %}
  <h1 class="shop-heading">Herzlich Willkommen im Schoko-Shop !</h1>
  <div class="shop-inner">
      {% for chocolate in chocolates %}
        <a class="product-view nr{{ chocolate._id }}" href="/shop/{{ chocolate._id }}">
          <div class="product-img">
            <img src="{{ chocolate.imageA }}">
          </div>
          <div class="product-ingredients">
            <div class="category-icon {{ chocolate.shape.className }}"></div>
            <div class="category-icon {{ chocolate.variety.className }}"></div>
            <div class="category-icon {{ chocolate.creme.className }}"></div>
            <div class="category-icon {{ chocolate.filling.className }}"></div>
            <div class="category-icon {{ chocolate.topping.className }}"></div>
          </div>
          <h3>{{ chocolate.price }} €</h3>
        </a>
      {% endfor %}
  </div>
{% endblock %}