{% extends 'layout.twig' %}

{% block main %}
  <div class=profil-inner>
    <h1>Meine Daten</h1>
    <a href="#" class="edit">Bearbeiten</a>
    <p>Hier kannst du deine Daten einsehen und ändern.</p>
    <div class="input-wrapper">
        <label class="profil-data">Titel</label>
        <span class="personal-data">{{ user.title }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">Vorname</label>
        <span class="personal-data">{{ user.fname }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">Nachname</label>
        <span class="personal-data">{{ user.lname }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">E-Mail</label>
        <span class="personal-data">{{ user.email }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">Straße</label>
        <span class="personal-data">{{ user.street }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">PLZ</label>
        <span class="personal-data">{{ user.postcode }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">Stadt</label>
        <span class="personal-data">{{ user.city }}</span>
    </div>
    <div class="input-wrapper">
        <label class="profil-data">Geburtsdatum</label>
        <span class="personal-data">{{ user.birthday }}</span>
    </div>
    <a href="#" class="change-password">Passwort ändern</a>
  </div>
{% endblock %}